*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-accent-bb: #CF8F2E;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
    
}

/* General styles */

html{
  scroll-behavior: smooth;
}

body {
    background-image:url('../img/foni.png');
    background-repeat: repeat;
    /* background-attachment: fixed;   */
    background-size:initial;
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}
a,
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
    color: var(--clr-accent);
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.elements{
    color: #999999;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Nav */

 .nav {
    overflow: hidden;
  }
  
  .nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 2px 15px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav__items{
    padding-right: 50px;
    padding-top: 50px;
  }
  
  .nav__link:hover {
    color: var(--clr-accent);
  }
  
  .nav a.active {
    color: var(--clr-accent);
    border: 1px solid var(--clr-accent);
    background-color: rgb(17, 38, 41);
    margin-right: 1px;
  }

  .nav-left {
    float: left;
  }

.nav__list {
    list-style-type: none;
}

.home{
  padding-bottom: 0px;
  padding-top: 10px;
}

/* Glitch */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.glitch{
    animation: glitch 1s linear infinite;
    display: flex;
    color: var(--clr-accent);
    font-size: 96px;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -7px;
    margin-right: 0px;
}
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .glitch:before,
  .glitch:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .glitch:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .glitch:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

/* Download Resume */
/* 
.resume-download, .resume-download::after {
    float:right;
    text-decoration: none;
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, var(--clr-accent) 5%);
    border: 0;
    color: black;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px var(--clr-accent);
    outline: transparent;
    position: relative;
  }
  
  .resume-download::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'Download Resume';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, var(--clr-accent)  5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  .resume-download:hover::after {
    animation: 1s glitch1;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch1 {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  } */

  .hi{
    padding-left: 150px;
    padding-top: 0px;
  }

/* About me */

/* .levani {
  border-radius: 50%;
  height: 600px;
  width: 600px;
  overflow: hidden;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-left: 100px; */
 } */

.about-me{
  padding-top: 0px;
}

.about-me_content{
  display: flex;
  justify-content: space-around;
}

.about-me__body {
    max-width: 1000px;
    color: white;
}

.about-me__body span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.about-me__body span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-accent);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.about-me__body span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #111119;
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.about-me__body span:nth-of-type(1)::before,
.about-me__body span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.about-me__body span:nth-of-type(2)::before,
.about-me__body span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.my_work {
    /* background-color: var(--clr-dark); */
    color: var(--clr-light);
}
  

/* Section */

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    text-align: center;    
}

.section__subtitle--work-1 {
    color: var(--clr-accent-bb);
    font-weight: var(--fw-bold);
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;    
}

.section__subtitle--work--git {
    color: #00695c;
    font-weight: var(--fw-bold);
    font-size: var(--fs-body);
    text-align: left;   
    margin-left: 100px;
}

.section__subtitle--work--bb--git {
    color: var(--clr-accent-bb);
    font-weight: var(--fw-bold);
    font-size: var(--fs-body);
    margin-left: 100px;
}

.section__subtitle--work--udemy {
    color: #6cb4c4;
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    text-align: center;    
}

.section__subtitle--work--freecodecamp {
    color: #0a0a23;
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;    
}

.section__title {
    margin-bottom: .25em;
    text-align: center;   
}

/* Portfolio */

.portfolio {
    display: grid;
    margin-left: 200px;
    grid-gap: 30px;
    max-width: 80%;
}

.portfolio-column{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.portfolio-column-r{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.portfolio__item {
    border-radius: 20px;
    background: #00695c;
    overflow: hidden;
    cursor: default;
    max-height: 400px;
}

.portfolio__item-bb{
    background: var(--clr-accent-bb);
    overflow: hidden;
    cursor: default;
    max-height: 400px;
}

.portfolio__item--udemy{
    background: #6cb4c4;
    overflow: hidden;
}

.portfolio__item--freecodecamp{
    background: #0a0a23;
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}

/* Footer */

.footer {
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: var(--clr-accent);
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
} 

.gototpbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 30px;
  border: 1px solid var(--clr-accent);
  text-align: center;
  line-height: 50px;
}
