*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-accent-bb: #CF8F2E;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: #111119;
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
    color: var(--clr-accent);
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.nav {
    overflow: hidden;
  }
  
  .nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav__link:hover {
    color: var(--clr-accent);
  }
  
  .nav a.active {
    color: var(--clr-accent);
  }

  .nav-left {
    float: left;
  }

.nav__list {
    list-style-type: none;
}


.my_work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    text-align: center;    
}

.section__subtitle--work-1 {
    color: var(--clr-accent-bb);
    font-weight: var(--fw-bold);
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;    
}

.section__subtitle--work--git {
    color: #00695c;
    font-weight: var(--fw-bold);
    font-size: var(--fs-body);
    text-align: left;   
}

.section__subtitle--work--bb--git {
    color: var(--clr-accent-bb);
    font-weight: var(--fw-bold);
    font-size: var(--fs-body);

}

.section__title {
    margin-bottom: .25em;
    text-align: center;   
}


.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.portfolio__item {
    background: #00695c;
    overflow: hidden;
}

.portfolio__item-bb{
    background: var(--clr-accent-bb);
    overflow: hidden;
}


.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .5;
}

hr {
    background-color: var(--clr-accent);
    height: 1px;
    border: none;
}

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: var(--clr-accent);
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
} 
